/* line 19, ../sass/sass/bootstrap/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 28, ../sass/sass/bootstrap/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 37, ../sass/sass/bootstrap/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 44, ../sass/sass/bootstrap/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, ../sass/sass/bootstrap/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 55, ../sass/sass/bootstrap/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 63, ../sass/sass/bootstrap/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 69, ../sass/sass/bootstrap/_reset.scss */
sup {
  top: -0.5em;
}

/* line 72, ../sass/sass/bootstrap/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 79, ../sass/sass/bootstrap/_reset.scss */
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 92, ../sass/sass/bootstrap/_reset.scss */
#map_canvas img,
.google-maps img {
  max-width: none;
}

/* line 103, ../sass/sass/bootstrap/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 109, ../sass/sass/bootstrap/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 114, ../sass/sass/bootstrap/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 121, ../sass/sass/bootstrap/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 125, ../sass/sass/bootstrap/_reset.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 132, ../sass/sass/bootstrap/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 135, ../sass/sass/bootstrap/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 9, ../sass/sass/login.scss */
body {
  background: #fff;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}

/* line 19, ../sass/sass/login.scss */
#header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* line 30, ../sass/sass/login.scss */
#header > .inner {
  margin: 0 auto;
  width: 800px;
  height: 70px;
  *zoom: 1;
}
/* line 15, ../sass/sass/bootstrap/_mixins.scss */
#header > .inner:before, #header > .inner:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/sass/bootstrap/_mixins.scss */
#header > .inner:after {
  clear: both;
}
/* line 37, ../sass/sass/login.scss */
#header a.brand {
  display: block;
  float: left;
  color: #fff;
  background: #ee5646;
  font-size: 18px;
  padding: 5px;
  padding-top: 30px;
  text-decoration: none;
}
/* line 52, ../sass/sass/login.scss */
#header ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  float: right;
}
/* line 59, ../sass/sass/login.scss */
#header ul.nav li {
  list-style: none;
  float: left;
}
/* line 63, ../sass/sass/login.scss */
#header ul.nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  color: #989a9d;
}
/* line 70, ../sass/sass/login.scss */
#header ul.nav li a:hover {
  color: #474e53;
}

/* line 79, ../sass/sass/login.scss */
.loginbox {
  width: 400px;
  margin: 0 auto;
  padding-top: 80px;
}
/* line 84, ../sass/sass/login.scss */
.loginbox .controls {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 90, ../sass/sass/login.scss */
.loginbox label.control-label {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 101, ../sass/sass/login.scss */
.loginbox input {
  width: 380px;
  display: block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  padding: 9px;
  border: none;
  background: #fff;
  outline: none;
  border: solid 1px #474e54;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 115, ../sass/sass/login.scss */
.loginbox input:focus {
  border-color: #181b1d;
}
/* line 120, ../sass/sass/login.scss */
.loginbox button {
  width: 80px;
  padding: 8px 0;
  font-size: 12px;
  background: #5e6870;
  color: #fff;
  border: none;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 132, ../sass/sass/login.scss */
.buttonarea {
  padding: 20px 0;
}
/* line 136, ../sass/sass/login.scss */
.buttonarea a.btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  color: #5c666f;
  background: #24292e;
  text-decoration: none;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 146, ../sass/sass/login.scss */
.buttonarea a.btn:hover {
  color: #95a3af;
}

/* line 152, ../sass/sass/login.scss */
.vertical-super {
  vertical-align: super;
  font-size: .5em;
}

/* line 157, ../sass/sass/login.scss */
.font-small {
  font-size: .8em;
}

/* line 161, ../sass/sass/login.scss */
.home-banner {
  position: relative;
  width: 100%;
  height: 464px;
  background: #3b4146;
  margin-bottom: 20px;
  overflow-x: hidden;
}

/* line 171, ../sass/sass/login.scss */
.home-slide {
  position: absolute;
  width: 1366px;
  height: 464px;
  overflow: hidden;
  left: 50%;
  margin-left: -683px;
}
/* line 185, ../sass/sass/login.scss */
.home-slide .item {
  width: 1366px;
  height: 464px;
  float: left;
}
/* line 191, ../sass/sass/login.scss */
.home-slide .item img {
  display: block;
  width: 1366px;
  height: 464px;
}

/* line 199, ../sass/sass/login.scss */
.home-intro {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 205, ../sass/sass/login.scss */
.home-intro h1 {
  display: none;
  padding: 0;
  margin: 0;
  width: 800px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  background: #3b4146;
  padding: 10px 20px;
  border-radius: 3px;
}
/* line 218, ../sass/sass/login.scss */
.home-intro ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -40px;
  *zoom: 1;
}
/* line 15, ../sass/sass/bootstrap/_mixins.scss */
.home-intro ul.nav:before, .home-intro ul.nav:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/sass/bootstrap/_mixins.scss */
.home-intro ul.nav:after {
  clear: both;
}
/* line 225, ../sass/sass/login.scss */
.home-intro ul.nav li {
  list-style: none;
  float: left;
  width: 380px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
}
/* line 233, ../sass/sass/login.scss */
.home-intro ul.nav li h3 {
  font-size: 16px;
  color: #333;
}
/* line 238, ../sass/sass/login.scss */
.home-intro ul.nav li p {
  font-size: 14px;
  color: #666;
  line-height: 18px;
}
/* line 244, ../sass/sass/login.scss */
.home-intro ul.nav li.bordered {
  border-bottom: dashed 1px #ddd;
}

/* line 251, ../sass/sass/login.scss */
#footer {
  border-top: solid 1px #ddd;
  background: #f5f5f5;
}
/* line 261, ../sass/sass/login.scss */
#footer > .inner {
  width: 800px;
  margin: 0 auto;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  color: #999;
}

/* line 271, ../sass/sass/login.scss */
.home-download {
  position: relative;
  width: 800px;
  height: 1px;
  margin: 0 auto;
}

/* line 278, ../sass/sass/login.scss */
.home-download-panel {
  position: absolute;
  width: 220px;
  height: 280px;
  padding: 20px;
  right: 0;
  top: -300px;
  z-index: 900;
}
/* line 289, ../sass/sass/login.scss */
.home-download-panel a.btn {
  display: block;
  height: 18px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background: #ec412f;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
/* line 304, ../sass/sass/login.scss */
.home-download-panel a.btn:hover {
  background: #ea2b17;
}
/* line 309, ../sass/sass/login.scss */
.home-download-panel .code {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 15, ../sass/sass/bootstrap/_mixins.scss */
.home-download-panel .code:before, .home-download-panel .code:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 22, ../sass/sass/bootstrap/_mixins.scss */
.home-download-panel .code:after {
  clear: both;
}
/* line 314, ../sass/sass/login.scss */
.home-download-panel .code img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

/* line 323, ../sass/sass/login.scss */
.system-tip {
  top: 30px;
  left: 20px;
  position: fixed;
  font-size: 12px;
  background: #51a351;
  background: rgba(81, 163, 81, 0.7);
  color: #fff;
  text-align: center;
  padding: 20px;
  max-width: 300px;
  min-width: 120px;
  cursor: pointer;
  z-index: 9000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 340, ../sass/sass/login.scss */
.system-tip.error {
  background: #bd362f;
  background: rgba(189, 54, 47, 0.7);
}
