@import "compass";

// 布局
body {
}

#header {
	@include clearfix();
}

#header .layout {

	.brand {
		display: block;
		width: 160px;
		margin-right: 0;
		margin-left: 0;
		text-align: center;
		color: #888;
		font-size: 14px;

		&:hover {
			color: #fff;
			color: rgba(255,255,255,.6);
			-webkit-transform: rotate(-3deg);
		}
	}
}

#content {
	padding: 0;
	padding-top: 41px;
}

#footer {

	> .inner {
		color: #bbb;
		font-size: 10px;
		padding: 5px 0;
		padding-right: 40px;
		float: right;
	}
}

// 主体
.mainarea {
	margin-left: 200px;
	min-height: 600px;
	border: solid 1px #e5e5e5;
	border-top: none;
	border-right: none;
	background: #fff;
	@include border-bottom-left-radius(2px);
	@include box-shadow(0 2px 5px rgba(0,0,0,.1));

	> .inner {
		padding: 20px 40px;
	}
}

// 侧边栏
.sidebar {
	width: 200px;
	padding-top: 20px;
	float: left;

	> .inner {
		position: fixed;
		width: 180px;
		left: 15px;
	}
}

.nav-sidebar {
	> li {
		> a {
			padding: 6px 15px;
			@include border-radius(0);
			@include border-radius(2px);
			@include clearfix();
			> i {
				float: right;
				opacity: .5;
			}
		}

		&.active {
			> a {
				> i {
					opacity: 1;
				}
			}
		}
	}
}

.section-title {
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 20px;
	@include clearfix();

	h1 {
		float: left;
		font-size: 21px;
		line-height: 40px;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}

	.bar {
		float: right;
	}
}

.system-tip {

	top: 20px;
	left: 20px;
	position: fixed;
	font-size: 12px;
	background: #51a351;
	background: rgba(81,163,81,.7);
	color: #fff;
	text-align: center;
	padding: 20px;
	max-width: 300px;
	min-width: 120px;
	cursor: pointer;
	z-index: 9000;
	@include border-radius(3px);

	&.error {

		background: #bd362f;
		background: rgba(189,54,47,.7);
	}
}