@import "compass";

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";

$base_color: #474e54;

body {
	// background: #474e54;
	background: #fff;
	padding: 0;
	margin: 0;
	// overflow-x: hidden;
	margin-top: 70px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}

#header {

	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 1000;
	top: 0;
	left: 0;
	background: #fff;
	@include box-shadow(0 2px 5px rgba(0,0,0,.1));

	> .inner {
		margin: 0 auto;
		width: 800px;
		height: 70px;
		@include clearfix();
	}

	a.brand {
		display: block;
		float: left;
		color: #fff;
		background: #ee5646;
		font-size: 18px;
		padding: 5px;
		padding-top: 30px;
		text-decoration: none;

		&:hover {
			// background: #ee5646;
		}
	}

	ul.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		padding-top: 18px;
		float: right;

		li {
			list-style: none;
			float: left;

			a {
				display: block;
				padding: 10px;
				text-decoration: none;
				font-size: 12px;
				color: #989a9d;

				&:hover {
					// text-decoration: underline;
					color: #474e53;
				}
			}
		}
	}
}

.loginbox {
	width: 400px;
	margin: 0 auto;
	padding-top: 80px;

	.controls {
		padding-bottom: 20px;
		margin-bottom: 20px;
		// border-bottom: dashed 1px #fff;
	}

	label.control-label {
		display: block;
		color: #fff;
		font-size: 14px;
		margin-bottom: 10px;
	}

	label.control-label {
		// display: none;
	}

	input {
		width: 380px;
		display: block;
		font-size: 14px;
		height: 18px;
		line-height: 18px;
		padding: 9px;
		border: none;
		background: #fff;
		outline: none;
		border: solid 1px #474e54;
		@include box-shadow(inset 1px 1px 2px rgba(0,0,0,.3));
		@include border-radius(5px);

		&:focus {
			border-color: darken(#474e54, 20%);
		}
	}

	button {
		width: 80px;
		padding: 8px 0;
		font-size: 12px;
		background: lighten(#474e54, 10%);
		color: #fff;
		border: none;
		margin: 0 auto;
		@include border-radius(5px);
	}
}

.buttonarea {

	padding: 20px 0;

	a.btn {
		display: inline-block;
		padding: 5px 15px;
		font-size: 14px;
		color: #5c666f;
		background: #24292e;
		text-decoration: none;
		border-radius: 6px;
		@include box-shadow(inset 1px 1px 2px rgba(0,0,0,.2));

		&:hover {
			color: #95a3af;
		}
	}
}

.vertical-super {
	vertical-align: super;
	font-size: .5em;
}

.font-small {
	font-size: .8em;
}

.home-banner {

    position: relative;
    width: 100%;
    height: 464px;
    background: darken(#474e54, 5%);
    margin-bottom: 20px;
    overflow-x: hidden;
}

.home-slide {

	position: absolute;
	width: 1366px;
	height: 464px;
	overflow: hidden;
	left: 50%;
	margin-left: -(1366px / 2);


	.reel {

	}

	.item {

        width: 1366px;
        height: 464px;
        float: left;

        img {
            display: block;
            width: 1366px;
            height: 464px;
        }
	}
}

.home-intro {

	width: 800px;
	margin: 0 auto;
	margin-bottom: 60px;
	
	h1 {
		display: none;
		padding: 0;
		margin: 0;
		width: 800px;
		margin: 0 auto;
		color: #fff;
		font-size: 14px;
		background: darken($base_color, 5%);
		padding: 10px 20px;
		border-radius: 3px;
	}

	ul.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-left: -40px;
		@include clearfix();

		li {
			list-style: none;
			float: left;
			width: 380px;
			padding: 0;
			margin: 0;
			margin-left: 40px;

			h3 {
				font-size: 16px;
				color: #333;
			}

			p {
				font-size: 14px;
				color: #666;
				line-height: 18px;
			}

			&.bordered {
				border-bottom: dashed 1px #ddd;
			}
		}
	}
}

#footer {

	// position: absolute;
	// bottom: 0;
	// left: 0;
	// width: 100%;

	border-top: solid 1px #ddd;
	background: #f5f5f5;

	> .inner{
		width: 800px;
		margin: 0 auto;
		font-size: 12px;
		padding: 20px 0;
		text-align: center;
		color: #999;
	}
}

.home-download {
	position: relative;
	width: 800px;
	height: 1px;
	margin: 0 auto;
}

.home-download-panel {
	position: absolute;
	width: 220px;
	height: 280px;
	// background: #fff;
	// background: url(../img/opacity_white_80.png) repeat;
	padding: 20px;
	right: 0;
	top: -300px;
	z-index: 900;

	a.btn {
		display: block;
		height: 18px;
		padding: 20px;
		text-align: center;
		color: #fff;
		background: darken(#ee5646, 5%);
		text-decoration: none;
		font-size: 16px;
		line-height: 20px;
		@include border-radius(3px);
		@include box-shadow(0 3px 8px rgba(0,0,0,.4));

		margin-bottom: 20px;
		
		&:hover {
			background: darken(#ee5646, 10%);
		}
	}

	.code {

		margin-bottom: 20px;
		@include clearfix();

		img {
			display: block;
			margin: 0 auto;
			// float: right;
			width: 150px;
		}
	}
}

.system-tip {

	top: 30px;
	left: 20px;
	position: fixed;
	font-size: 12px;
	background: #51a351;
	background: rgba(81,163,81,.7);
	color: #fff;
	text-align: center;
	padding: 20px;
	max-width: 300px;
	min-width: 120px;
	cursor: pointer;
	z-index: 9000;
	@include border-radius(3px);

	&.error {

		background: #bd362f;
		background: rgba(189,54,47,.7);
	}
}